@charset "UTF-8";

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}

.flex > div{
    flex: 0 1 calc(25% - 10px);
    border: 1px solid #aaa;
    box-shadow: 3px 5px 3px #aaa;
    padding: 20px;
    margin: 5px;
}


@media only screen and (max-width: 850px) {
    .flex > div{
        flex: 0 1 calc(50% - 10px);
    }
}


@media only screen and (max-width: 600px) {
    .flex > div{
        flex: 0 1 100%;
        margin: 5px 0px;
    }
}